body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.09em;
  line-height: 1.65em;
}
h2 {
  font-weight: 300;
}
p {
  margin: 0 0 2em 0;
}

/* firstsection */
.section-first {
  background-color: #00cdcf;
  color: white;
  text-align: center;
  padding: 5em 3em 4em 3em;
  font: inherit;
}

.first-h2 {
  width: 36%;
  border-style: double solid;
  border-width: 4px 1px;
  font-size: 2.6em;
  line-height: 1.35em;
  margin: 0 auto 1em;
  padding: 1.1em;
  position: relative;
}

.section-first p {
  font-size: 1.5em;
  margin: 0 0 2em 0;
}

.first-button {
  font-size: 1.05em;
  background-color: #009a9c;
  color: #fff;
  border-radius: 0;
  border: 0;
  cursor: pointer;
  height: 2.85em;
  padding: 0 1.5em;
  text-align: center;
  white-space: nowrap;
  margin: 0 0 2em 0;
  font: inherit;
  letter-spacing: 0.09em;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.first-button:hover {
  background-color: #00b4b5;
}

/* section-second */
.section-second {
  text-align: center;
  padding: 6em 0 4em 0;
  box-sizing: border-box;
}
.second {
  width: 60em;
  margin: 0 auto;
  box-sizing: border-box;
}
.title {
  margin-bottom: 4em;
}
.h2-second,
.h2-third {
  display: inline-block;
  padding-bottom: 0.4em;
  border-bottom-style: double;
  border-bottom-color: #e3e3e3;
  border-bottom-width: 4px;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #555;
  margin: 0 0 1em 0;
}
.second-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
  width: 100%;
  box-sizing: border-box;
}
.item {
  border-style: solid;
  border-width: 1px;
  border-color: #e3e3e3;
  margin-left: -1px;
  margin-top: -1px;
  padding: 2em 1.5em 0.1em 1.5em;
  width: 33.33333%;
  box-sizing: border-box;
}
.fa-regular {
  color: #00cdcf;
  font-size: 2.8em;
  margin-bottom: 0.7em;
}
h3 {
  color: #555;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0 0 1em 0;
}

/* section-third */
.section-third {
  background-color: #f7f7f7;
  color: #444;
  text-align: center;
  padding: 5em 0 3em 0;
  position: relative;
  box-sizing: border-box;
}
header {
  margin-bottom: 1em;
}
.third {
  width: 35em;
  margin: 0 auto;
  box-sizing: border-box;
}
form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 2em 0;
}
.form {
  width: 100%;
  margin-bottom: 2em;
}
.form-name,
.form-email {
  width: 47%;
}
label {
  display: block;
  font-size: 0.9em;
  margin: 0 0 0.2em 0;
}
input {
  background: #fff;
  color: #555;
  height: 2.75em;
  border-radius: 0;
  border: solid 1px;
  border-color: #ddd;
  box-shadow: none;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
  font-size: 15px;
  height: 2.8em;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  color: #555;
  border: solid 1px;
  border-color: #ddd;
  box-shadow: none;
  padding: 0.75em 1em;
  text-decoration: none;
  outline: 0;
  font-size: 15px;
  height: 9em;
  box-sizing: border-box;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #00cdcf;
  border-width: 2px;
}
.form-send {
  margin-bottom: 0;
  width: 36%;
  padding-left: 0;
  margin: 0 auto;
}
.input-button {
  background-color: #555;
  color: #f7f7f7;
  cursor: pointer;
  height: 3em;
  font-size: 15px;
  letter-spacing: 0.09em;
}

/* footer */
footer {
  padding: 4em 2em 3em 2em;
  background-color: #f7f7f7;
  color: #444;
  position: relative;
}
footer::before {
  background-color: #ddd;
  content: "";
  height: 1px;
  left: 30%;
  position: absolute;
  top: 0;
  width: 40%;
}
.copyright {
  color: #bbb;
  font-size: 0.9em;
  margin: 0 0 2em 0;
  padding: 0;
  text-align: center;
}
a {
  color: #00cdcf;
  text-decoration: underline;
}

@media (max-width: 1280px) {
  .section-first {
    padding: 6em 0 4em 0;
  }
  .first-h2 {
    width: 42%;
  }
  .section-second {
    padding: 5em 0 3em 0;
  }
  .title {
    margin-bottom: 2em;
  }
  .item {
    padding: 2em 1.5em 0.1em 1.5em;
  }
  .section-third {
    padding: 6em 0 4em 0;
  }
  footer {
    padding: 4em 2em 3em 2em;
  }
}

@media (max-width: 980px) {
  .section-first {
    padding: 4em 2em 2em 2em;
  }
  .first-h2 {
    width: 65%;
  }
  .section-second {
    padding: 4em 2em 1.3em 2em;
  }
  .second {
    width: 100%;
  }
  .section-third {
    padding: 4em 2em 2em 2em;
  }
  footer {
    padding: 3em 2em 2em 2em;
  }
  footer::before {
    left: 12.5%;
    width: 75%;
  }
}

@media (max-width: 736px) {
  .section-first {
    padding: 3em 1.5em 1em 1.5em;
  }
  .first-h2 {
    font-size: 1.8em;
    width: 60%;
  }
  .section-first p {
    font-size: 1.25em;
  }
  .title {
    margin-bottom: 1.5em;
  }
  .item {
    padding: 2em 0.7em 0.1em 0.7em;
    width: 50%;
  }
  .section-third {
    padding: 3em 1.5em 1em 1.5em;
  }
  .third {
    width: 80%;
  }
  .form-name,
  .form-email {
    margin-bottom: 1em;
    width: 100%;
  }
  .form-send {
    width: 52%;
  }
  footer {
    padding: 2.5em 2em 1em 2em;
  }
  footer::before {
    left: 7.5%;
    width: 85%;
  }
}
