body {
  background-color: red;
}

@media (min-width: 501px) and (max-width: 1000px) {
  body {
    background-color: blue;
  }
}

@media (min-width: 1000px) {
  body {
    background-color: yellow;
  }
}
