body {
  margin: 0;
  width: 100%;
}

header {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 20px;
  font-weight: 400;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin: auto;
}

.nav-a {
  color: black;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  text-decoration-color: black;
}

.nav-button {
  color: white;
  background-color: #0d6efd;
  border-color: #0d6efd;
  border: 1px solid;
  border-radius: 0.25rem;
  padding: 00.75rem 1rem;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

section.section-common {
  position: relative;
  display: flex;
  background: url(../image/bg-masthead.jpg) no-repeat center center;
  background-size: cover;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  justify-content: center;
}

section.section-common::before {
  content: "";
  position: absolute;
  background-color: #1c375e;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}
.section-first {
  padding: 8rem 0;
}
.container-first {
  position: relative;
}

h1 {
  margin-top: 0;
  color: white;
  font-weight: bold;
  text-align: center;
}

input {
  min-height: 3rem;
  font-size: 1.25rem;
  width: 100%;
  padding: 0.3rem 0 0.3rem 1.25rem;
  border: 1px solid #ced4da;
  border-radius: 0.3rem;
  cursor: text;
}

.section-second {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: rgb(248, 249, 250);
}

.container-second {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.mass-second {
  text-align: center;
}

.iconsecond {
  font-size: 4.5rem;
  color: rgb(13, 110, 253);
}

.titlescond,
h3 {
  font-size: 1.3rem;
  margin-top: 0.9rem;
  margin-bottom: 0.3rem;
}
.titlescond,
p {
  font-size: 1.05rem;
  font-weight: 200;
}

.mass-third1,
.mass-third2,
.masssthird3 {
  width: 100%;
}
.title-third1,
.title-third2,
.title-third3 {
  padding: 3rem;
  margin-top: auto;
  margin-bottom: auto;
}
h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
}
.p-third {
  margin-top: 0;
  font-size: 1.05rem;
  font-weight: 200;
}
.image1 {
  background-image: url(../image/bg-showcase-1.jpg);
  min-height: 30rem;
  background-size: cover;
}
.image2 {
  background-image: url(../image/bg-showcase-2.jpg);
  min-height: 30rem;
  background-size: cover;
}
.image3 {
  background-image: url(../image/bg-showcase-3.jpg);
  min-height: 30rem;
  background-size: cover;
}
.mass-fourth {
  max-width: 18rem;
  margin: 0 auto;
}
h2.h2-fourth {
  font-size: 23px;
  margin-bottom: 3rem;
}
h5 {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 8px;
}
.p-fourth {
  font-size: 14px;
  margin: 0;
}
.img-fourth {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.section-five {
  padding: 3rem 0;
}
.h2-five {
  font-size: 1.35rem;
  color: white;
  margin-bottom: 1.5rem;
}
footer {
  padding: 4rem 0;
}
.footer-container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.footer-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-icon {
  text-align: center;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
}
.li-margin {
  margin-right: 1.5rem;
}
.a-footer {
  color: #0d6efd;
  text-decoration: none;
}
i.fab {
  font-size: 1.7rem;
}

@media (max-width: 575px) {
  .nav-container,
  .container-second,
  .footer-container {
    width: 450px;
  }
  .container-first {
    width: 80%;
  }
  h1 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
  .container-second {
    flex-direction: column;
  }
  .mass-second {
    width: 100%;
  }
  .mass1,
  .mass2 {
    margin-bottom: 3rem;
  }
}

@media (min-width: 576px) {
  .nav-container,
  .container-second,
  .footer-container {
    max-width: 540px;
  }
  .container-first {
    width: 70%;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .container-second {
    flex-direction: column;
  }
  .mass-second {
    width: 100%;
  }
  .mass1,
  .mass2 {
    margin-bottom: 3rem;
  }
}

@media (min-width: 768px) {
  .nav-container,
  .container-second,
  .footer-container {
    max-width: 720px;
  }
  section.section-first {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  .container-first {
    width: 60%;
  }
  h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  .container-second {
    flex-direction: column;
  }
  .mass-second {
    width: 100%;
  }
  .h2-five {
    font-size: 1.8rem;
  }
}

@media (min-width: 992px) {
  .nav-container,
  .container-second,
  .footer-container {
    max-width: 960px;
  }
  .container-first {
    width: 50%;
  }
  .container-second {
    flex-direction: row;
  }
  .mass-second {
    width: 33.3333333333%;
  }
  .mass1,
  .mass2 {
    margin-bottom: 0;
  }
  .mass-third1,
  .mass-third2,
  .masssthird3 {
    display: flex;
  }
  .mass-third1,
  .masssthird3 {
    flex-direction: row-reverse;
  }
  .image1,
  .image2,
  .image3 {
    width: 50%;
  }
  .title-third1,
  .title-third2,
  .title-third3 {
    padding: 7rem;
    width: 50%;
    box-sizing: border-box;
  }
}

@media (min-width: 1200px) {
  .nav-container,
  .container-second,
  .footer-container {
    max-width: 1140px;
  }
  .container-first {
    width: 50%;
  }
  h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  .container-second {
    flex-direction: row;
  }
  .mass-second {
    width: 33.3333333333%;
  }
}

@media (min-width: 1400px) {
  .nav-container,
  .container-second,
  .footer-container {
    max-width: 1320px;
  }
  .container-first {
    width: 40%;
  }
  .container-second {
    flex-direction: row;
  }
  .mass-second {
    width: 33.3333333333%;
  }
}
