body {
  margin: 0;
  width: 100%;
}

header {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 20px;
  font-weight: 400;
}

.navcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin: auto;
}

.nava {
  color: black;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  text-decoration-color: black;
}

.navbutton {
  color: white;
  background-color: #0d6efd;
  border-color: #0d6efd;
  border: 1px solid;
  border-radius: 0.25rem;
  padding: 00.75rem 1rem;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.navbutton:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

section.first {
  position: relative;
  display: flex;
  background: url(../image/bg-masthead.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  justify-content: center;
}

section.first::before {
  content: "";
  position: absolute;
  background-color: #1c375e;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.containerfirst {
  position: relative;
}

h1 {
  margin-top: 0;
  color: white;
  font-weight: bold;
  text-align: center;
}

input {
  min-height: 3rem;
  font-size: 1.25rem;
  width: 100%;
  padding: 0.3rem 0 0.3rem 1.25rem;
  border: 1px solid #ced4da;
  border-radius: 0.3rem;
  cursor: text;
}

.second {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: rgb(248, 249, 250);
}

.containersecond {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.masssecond {
  text-align: center;
}

.iconsecond {
  font-size: 4.5rem;
  color: rgb(13, 110, 253);
}

.titlescond,
h3 {
  font-size: 1.3rem;
  margin-top: 0.9rem;
  margin-bottom: 0.3rem;
}
.titlescond,
p {
  font-size: 1.05rem;
  font-weight: 200;
}

.masssthird1,
.masssthird2,
.masssthird3 {
  width: 100%;
}
.titlethird1,
.titlethird2,
.titlethird3 {
  padding: 3rem;
  margin-top: auto;
  margin-bottom: auto;
}
h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  font-weight: 700;
}
.pthird {
  margin-top: 0;
  font-size: 1.05rem;
  font-weight: 200;
}
.image1 {
  background-image: url(../image/bg-showcase-1.jpg);
  min-height: 30rem;
  background-size: cover;
}
.image2 {
  background-image: url(../image/bg-showcase-2.jpg);
  min-height: 30rem;
  background-size: cover;
}
.image3 {
  background-image: url(../image/bg-showcase-3.jpg);
  min-height: 30rem;
  background-size: cover;
}

@media (max-width: 575px) {
  .navcontainer,
  .containersecond {
    width: 450px;
  }
  .containerfirst {
    width: 80%;
  }
  h1 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
  .containersecond {
    flex-direction: column;
  }
  .masssecond {
    width: 100%;
  }
  .mass1,
  .mass2 {
    margin-bottom: 3rem;
  }
}

@media (min-width: 576px) {
  .navcontainer,
  .containersecond {
    max-width: 540px;
  }
  .containerfirst {
    width: 70%;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .containersecond {
    flex-direction: column;
  }
  .masssecond {
    width: 100%;
  }
  .mass1,
  .mass2 {
    margin-bottom: 3rem;
  }
}

@media (min-width: 768px) {
  .navcontainer,
  .containersecond {
    max-width: 720px;
  }
  section.first {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  .containerfirst {
    width: 60%;
  }
  h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  .containersecond {
    flex-direction: column;
  }
  .masssecond {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .navcontainer,
  .containersecond {
    max-width: 960px;
  }
  .containerfirst {
    width: 50%;
  }
  .containersecond {
    flex-direction: row;
  }
  .masssecond {
    width: 33.3333333333%;
  }
  .mass1,
  .mass2 {
    margin-bottom: 0;
  }
  .masssthird1,
  .masssthird2,
  .masssthird3 {
    display: flex;
  }
  .masssthird1,
  .masssthird3 {
    flex-direction: row-reverse;
  }
  .image1,
  .image2,
  .image3 {
    width: 50%;
  }
  .titlethird1,
  .titlethird2,
  .titlethird3 {
    padding: 7rem;
    width: 50%;
    box-sizing: border-box;
  }
}

@media (min-width: 1200px) {
  .navcontainer,
  .containersecond {
    max-width: 1140px;
  }
  .containerfirst {
    width: 50%;
  }
  h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  .containersecond {
    flex-direction: row;
  }
  .masssecond {
    width: 33.3333333333%;
  }
}

@media (min-width: 1400px) {
  .navcontainer,
  .containersecond {
    max-width: 1320px;
  }
  .containerfirst {
    width: 40%;
  }
  .containersecond {
    flex-direction: row;
  }
  .masssecond {
    width: 33.3333333333%;
  }
}
